body {
	font-family: Poppins, sans-serif;
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100vh;
    background-color: #EBEBEB;
}

h1 {
    font-weight: 600;
    margin : 0 0 12px 0;
}

input {
    margin: 12px 0;
    width: 100%;
    border: 1px solid rgb(100,100,100);
    border-radius: 8px;
    padding: 10px;
    width: 80%;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    text-align: center;
    background-color: #EBEBEB;
}

button {
	background-color: #3d74ff;
	color: white;
	border-radius: 8px;
	border: none;
    font-family: Poppins, sans-serif;
	padding: 10px 20px;
	cursor: pointer;
    width: 80%;
    box-sizing: border-box;
    margin: 12px 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    padding: 40px;
	width: 40%;
    border: 1px solid rgb(238, 238, 238);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    background-color: #FFFFFF;
}

a {
    color: #1a47ba;
}